@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fdfdfd;
  background: #010214;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url(../public/fonts/JetBrainsMonoNL.ttf);
}

@font-face {
  font-family: "Segoe UI";
  src: url(../public/fonts/Segoe\ UI.ttf);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.silver-text {
  background: linear-gradient(90deg, #57576f -14.03%, #f8f8ff 58.85%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
